SignatureCheck.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SignatureCheck.xcodeproj/project.xcworkspace/xcuserdata/elviss.xcuserdatad/UserInterfaceState.xcuserstate
SignatureCheck.xcodeproj/xcuserdata/elviss.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SignatureCheck.xcodeproj/xcuserdata/elviss.xcuserdatad/xcschemes/SignatureCheck.xcscheme
SignatureCheck.xcodeproj/xcuserdata/elviss.xcuserdatad/xcschemes/SignatureCheckOSX.xcscheme
SignatureCheck.xcodeproj/xcuserdata/elviss.xcuserdatad/xcschemes/xcschememanagement.plist
